<div class="container-fluid ps-0 pe-0">
    <div class="d-flex flex-row">
        <div class="flex-column-1 ps-0 pe-0">
            <app-side-nav-bar>Loading side nav bar</app-side-nav-bar>
        </div>
        <div class="flex-column ps-0 pe-0">
            <app-top-nav-bar>Loading top nav bar</app-top-nav-bar>
            <app-feed>Loading feed</app-feed>
        </div>
    </div>
    <div class="d-flex flex-row">
        <app-bottom-nav-bar>Loading bottom nav bar</app-bottom-nav-bar>
    </div>
</div>